In [1]:
print("Hello world!")

Hello world!

# Iniciando com o Notebook
## Apresentando o python no navegador

Os passos seguidos foram:
* Criar uma pasta de trabalho:
```shell
mkdir aulaPandas
cd aulaPandas
```

* Criar um ambiente virtual na pasta **.ve** dentro da pasta de trabalho

```shell
cd aulaPandas
python 3 -m venv .ve
source .ve/bin/activate

"No windows":
.ve\Scripts\activate.bat

```
* Atualiza o pip
```shell
pip install --upgrade pip
```
* Instalar o *notebook* e o ***pandas***
```shell
pip install notebook
pip install pandas
```
Acesssar:https://www.kaggle.com/nationalparkservice/park-biodiversity
## Agora vamos come√ßar!!!!

In [2]:
import pandas as pd

In [4]:
df = pd.read_csv('./parks.csv', index_col=['Park Code'])

In [5]:
df.head()

                        Park Name State   Acres  Latitude  Longitude
Park Code
ACAD         Acadia National Park    ME   47390     44.35     -68.21
ARCH         Arches National Park    UT   76519     38.68    -109.57
BADL       Badlands National Park    SD  242756     43.75    -102.50
BIBE       Big Bend National Park    TX  801163     29.25    -103.25
BISC       Biscayne National Park    FL  172924     25.65     -80.08

In [9]:
df.iloc[0]

Park Name    Acadia National Park
State                          ME
Acres                       47390
Latitude                    44.35
Longitude                  -68.21
Name: ACAD, dtype: object

In [10]:
df.loc['ACAD']

Park Name    Acadia National Park
State                          ME
Acres                       47390
Latitude                    44.35
Longitude                  -68.21
Name: ACAD, dtype: object

In [12]:
df.loc[['ACAD','BIBE','BISC']]

                        Park Name State   Acres  Latitude  Longitude
Park Code
ACAD         Acadia National Park    ME   47390     44.35     -68.21
BIBE       Big Bend National Park    TX  801163     29.25    -103.25
BISC       Biscayne National Park    FL  172924     25.65     -80.08

```
SELECT FROM table WHERE 
```

In [13]:
df[:3]

                        Park Name State   Acres  Latitude  Longitude
Park Code
ACAD         Acadia National Park    ME   47390     44.35     -68.21
ARCH         Arches National Park    UT   76519     38.68    -109.57
BADL       Badlands National Park    SD  242756     43.75    -102.50

In [14]:
df.iloc[-1]

Park Name    Zion National Park
State                        UT
Acres                    146598
Latitude                   37.3
Longitude               -113.05
Name: ZION, dtype: object

In [15]:
df['State']

Park Code
ACAD            ME
ARCH            UT
BADL            SD
BIBE            TX
BISC            FL
BLCA            CO
BRCA            UT
CANY            UT
CARE            UT
CAVE            NM
CHIS            CA
CONG            SC
CRLA            OR
CUVA            OH
DENA            AK
DEVA        CA, NV
DRTO            FL
EVER            FL
GAAR            AK
GLAC            MT
GLBA            AK
GRBA            NV
GRCA            AZ
GRSA            CO
GRSM        TN, NC
GRTE            WY
GUMO            TX
HALE            HI
HAVO            HI
HOSP            AR
ISRO            MI
JOTR            CA
KATM            AK
KEFJ            AK
KOVA            AK
LACL            AK
LAVO            CA
MACA            KY
MEVE            CO
MORA            WA
NOCA            WA
OLYM            WA
PEFO            AZ
PINN            CA
REDW            CA
ROMO            CO
SAGU            AZ
SEKI            CA
SHEN            VA
THRO            ND
VOYA            MN
WICA            SD
WRST            AK
YELL    WY, MT, ID
YOSE            CA
ZION            UT
Name: State, dtype: object

In [16]:
df['Acres']

Park Code
ACAD      47390
ARCH      76519
BADL     242756
BIBE     801163
BISC     172924
BLCA      32950
BRCA      35835
CANY     337598
CARE     241904
CAVE      46766
CHIS     249561
CONG      26546
CRLA     183224
CUVA      32950
DENA    3372402
DEVA    4740912
DRTO      64701
EVER    1508538
GAAR    7523898
GLAC    1013572
GLBA    3224840
GRBA      77180
GRCA    1217403
GRSA      42984
GRSM     521490
GRTE     309995
GUMO      86416
HALE      29094
HAVO     323431
HOSP       5550
ISRO     571790
JOTR     789745
KATM    3674530
KEFJ     669983
KOVA    1750717
LACL    2619733
LAVO     106372
MACA      52830
MEVE      52122
MORA     235625
NOCA     504781
OLYM     922651
PEFO      93533
PINN      26606
REDW     112512
ROMO     265828
SAGU      91440
SEKI     865952
SHEN     199045
THRO      70447
VOYA     218200
WICA      28295
WRST    8323148
YELL    2219791
YOSE     761266
ZION     146598
Name: Acres, dtype: int64

In [17]:
df.Acres

Park Code
ACAD      47390
ARCH      76519
BADL     242756
BIBE     801163
BISC     172924
BLCA      32950
BRCA      35835
CANY     337598
CARE     241904
CAVE      46766
CHIS     249561
CONG      26546
CRLA     183224
CUVA      32950
DENA    3372402
DEVA    4740912
DRTO      64701
EVER    1508538
GAAR    7523898
GLAC    1013572
GLBA    3224840
GRBA      77180
GRCA    1217403
GRSA      42984
GRSM     521490
GRTE     309995
GUMO      86416
HALE      29094
HAVO     323431
HOSP       5550
ISRO     571790
JOTR     789745
KATM    3674530
KEFJ     669983
KOVA    1750717
LACL    2619733
LAVO     106372
MACA      52830
MEVE      52122
MORA     235625
NOCA     504781
OLYM     922651
PEFO      93533
PINN      26606
REDW     112512
ROMO     265828
SAGU      91440
SEKI     865952
SHEN     199045
THRO      70447
VOYA     218200
WICA      28295
WRST    8323148
YELL    2219791
YOSE     761266
ZION     146598
Name: Acres, dtype: int64

In [18]:
df.Acres.sum()

51964032

In [19]:
df.Acres.mean()

927929.1428571428

In [20]:
df.Acres.std()

1709258.309313917

In [21]:
df['Acres'].max()

8323148

In [22]:
df['Acres'].min()

5550

In [23]:
df[df.State =='UT']

                            Park Name State   Acres  Latitude  Longitude
Park Code
ARCH             Arches National Park    UT   76519     38.68    -109.57
BRCA       Bryce Canyon National Park    UT   35835     37.57    -112.18
CANY        Canyonlands National Park    UT  337598     38.20    -109.93
CARE       Capitol Reef National Park    UT  241904     38.20    -111.17
ZION               Zion National Park    UT  146598     37.30    -113.05

In [25]:
df.Latitude > 60

Park Code
ACAD    False
ARCH    False
BADL    False
BIBE    False
BISC    False
BLCA    False
BRCA    False
CANY    False
CARE    False
CAVE    False
CHIS    False
CONG    False
CRLA    False
CUVA    False
DENA     True
DEVA    False
DRTO    False
EVER    False
GAAR     True
GLAC    False
GLBA    False
GRBA    False
GRCA    False
GRSA    False
GRSM    False
GRTE    False
GUMO    False
HALE    False
HAVO    False
HOSP    False
ISRO    False
JOTR    False
KATM    False
KEFJ    False
KOVA     True
LACL     True
LAVO    False
MACA    False
MEVE    False
MORA    False
NOCA    False
OLYM    False
PEFO    False
PINN    False
REDW    False
ROMO    False
SAGU    False
SEKI    False
SHEN    False
THRO    False
VOYA    False
WICA    False
WRST     True
YELL    False
YOSE    False
ZION    False
Name: Latitude, dtype: bool

In [26]:
df[df.Latitude > 60]

,Park Name,State,Acres,Latitude,Longitude
Park Code,,,,,
DENA,Denali National Park and Preserve,AK,3372402,63.33,-150.50
GAAR,Gates Of The Arctic National Park and Preserve,AK,7523898,67.78,-153.30
KOVA,Kobuk Valley National Park,AK,1750717,67.55,-159.28
LACL,Lake Clark National Park and Preserve,AK,2619733,60.97,-153.42
WRST,Wrangell - St Elias National Park and Preserve,AK,8323148,61.00,-142.00

In [27]:
df[df.Latitude > 65]

,Park Name,State,Acres,Latitude,Longitude
Park Code,,,,,
GAAR,Gates Of The Arctic National Park and Preserve,AK,7523898,67.78,-153.30
KOVA,Kobuk Valley National Park,AK,1750717,67.55,-159.28

In [28]:
df.Acres.max()

8323148

In [30]:
df.Acres == df.Acres.max()

Park Code
ACAD    False
ARCH    False
BADL    False
BIBE    False
BISC    False
BLCA    False
BRCA    False
CANY    False
CARE    False
CAVE    False
CHIS    False
CONG    False
CRLA    False
CUVA    False
DENA    False
DEVA    False
DRTO    False
EVER    False
GAAR    False
GLAC    False
GLBA    False
GRBA    False
GRCA    False
GRSA    False
GRSM    False
GRTE    False
GUMO    False
HALE    False
HAVO    False
HOSP    False
ISRO    False
JOTR    False
KATM    False
KEFJ    False
KOVA    False
LACL    False
LAVO    False
MACA    False
MEVE    False
MORA    False
NOCA    False
OLYM    False
PEFO    False
PINN    False
REDW    False
ROMO    False
SAGU    False
SEKI    False
SHEN    False
THRO    False
VOYA    False
WICA    False
WRST     True
YELL    False
YOSE    False
ZION    False
Name: Acres, dtype: bool